﻿ 


    <footer class="main-footer">
        <div class="social-media-footer" style="margin-top:10px">

            <a href="#"><i class="fab fa-instagram" style="color:#000; padding:10px"></i></a>
            <a href="#"><i class="fab fa-twitter" style="color:#000;padding:10px;"></i></a>
            <a href="#"><i class="fab fa-facebook-f" style="color:#000;padding:10px;"></i></a>

        </div>
        <div class="float-right d-none d-sm-block logo-footer" style="margin-bottom:5px">
            <img width="132" height="65" style="margin:auto" src="https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/msd-saude-animal-logo.png" class="custom-logo" alt="MSD Salud Animal Brazil" srcset="https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/msd-saude-animal-logo.png 532w, https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/msd-saude-animal-logo.png?resize=300,149 300w" sizes="(max-width: 532px) 100vw, 532px">
        </div>

    </footer>