﻿ 
    <aside class="main-sidebar  sidebarColor elevation-4">

        <div class="mt-2 pt-1 mb-0 d-flex" style="
   
">

            
            <img width="110" height="38" style="margin:auto" src="~/Content/images/45009.png"
                 class="custom-logo" alt="MSD Salud Animal Brazil"   sizes="(max-width: 532px) 100vw, 532px">
        </div>
        <div class="user-panel mt-2 pb-1 mb-1   d-flex">

        </div>
        <div class="sidebar sidebarT">

   

            <nav class="mt-2">

                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item ">

                        <a href="@Url.Action("Index", "Produto")" class="nav-link">
                            Produtos
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
 