﻿ <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white   pb-3" style="height:66px; ">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="margin:auto;">
        <li class="nav-item">
            @* <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>*@
        </li>
        <li class="nav-item d-none d-sm-inline-block" style="padding-right:45px; letter-spacing:1px;">
            <a id="linkHome" href="@Url.Action("Index", "Produto", new {  })" class="menuTop-link nav-link text-uppercase font-weight-bold ">Produtos</a>
        </li>
    </ul>


    <!-- Right navbar links -->
    @*<div class="navbar-nav mr-auto">
        <div class="saudacao" style="width:100%; font-size: 9pt;">
            <div class="primeiraLinha" style="">
                <span style="color:#999; font-weight:bold"> OLÁ,</span>
                <span style="color:#0dbab1; font-weight:bold;"> </span>
            </div>
            <span style="color:#999;">LOJA,</span>
            <span style="color:#999; font-weight:bold;">xxx</span>
        </div>
    </div>*@
</nav>
<!-- /.navbar -->




 <script>
     window.onload = function () {
    if(document.location.pathname === "/"){
        document.querySelector("#linkHome").classList.add("menuTop-link-active");
      }
          
}
   

 </script>


 