﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
  
    <title>MSD Portal</title>
    @Html.Partial("AdminLTE/_Styles")
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    @*<script src="~/adminlte/js/adminlte.js"></script>*@

    <style>
        .content-wrapper {
            margin-left: 0 !important;
        }

        :not(.layout-fixed) .main-sidebar {
            height: inherit;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0 !important;
        }

        .content {
            margin-left: 250px !important;
        }
    </style>
    <script>
        $(document).ready(function () {

            $('#svgButtonArrow').click(function () {
                debugger;

                //if (!$('body').hasClass('colapseArrow'))
                if ($('#svgButtonArrow').hasClass('colapseArrow')) {

                    $('#svgButtonArrow').addClass('showArrow');
                    $('#svgButtonArrow').removeClass('colapseArrow');
                    $('[data-widget="pushmenu"]').PushMenu("expand");
                    $('.user-panel').css('border-bottom', '1px solid #4f5962');
                    return false;
                }
                else {
                    $('.user-panel').css('border-bottom', 'none');

                    $('#svgButtonArrow').addClass('colapseArrow');
                    $('#svgButtonArrow').removeClass('showArrow');
                    $('[data-widget="pushmenu"]').PushMenu("collapse");
                    return false;
                }



            })
        });

    </script>
</head>

<body class="hold-transition sidebar">

    <div class="wrapper">
        @Html.Partial("AdminLTE/_TopNavigation")
        @*@Html.Partial("AdminLTE/_MainNavigationSemNavigation")*@
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"></h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            @*<img src="~/Content/images/aba.svg" id="svgButtonArrow" data-auto-collapse-size="768" data-widget="pushmenu" />*@
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <a class="nav-link" data-widget="control-sidebar" href="#">Toggle Control Sidebar</a>

            </div>
        </aside>
        @Html.Partial("AdminLTE/_Footer")
    </div>
    @Html.Partial("AdminLTE/_Scripts")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
    @Scripts.Render("~/bundles/inputmask")

    @RenderSection("scripts", required: false)
</body>
</html>