﻿@using Microsoft.AspNet.Identity



<aside class="main-sidebar  sidebarColor elevation-4">

    <div class="mt-2 pt-1 mb-0 d-flex" style="">


        <img width="110" height="38" style="margin:auto" src="~/Content/images/LOGO2.png"
             class="custom-logo" alt="MSD Salud Animal Brazil" sizes="(max-width: 532px) 100vw, 532px">
    </div>
    <div class="user-panel mt-2 pb-1 mb-1   d-flex">

    </div>
    <div class="sidebar sidebarT">



      
    </div>
</aside>
