﻿    <aside class="main-sidebar  sidebarColor elevation-4">

        <div class="mt-2 pt-1 mb-0 d-flex" style="">


            <img width="200" height="200" style="margin:auto" src="~/Content/images/Quintal_da_Cancela_BG_Black_SMALLSIZE_JPEG.jpg"
                 >
        </div>
        <div class="user-panel mt-2 pb-1 mb-1   d-flex">

        </div>
        <div class="sidebar sidebarT">



            <nav class="mt-2">

                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    <li class="nav-item ">

                        <a href="@Url.Action("Index", "Home")" class="nav-link">

                            Home

                        </a>

                    </li>
                        <li class="nav-item">

                            <a href="@Url.Action("Index", "Produto")" class="nav-link ">

                                Produto

                            </a>

                        </li>
                </ul>
            </nav>
        </div>
    </aside>
