﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<script src="~/scripts/js/fabric.min.js"></script>
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<script>

    $(document).ready(function () {


        $('body .titulo').css('background', 'blue');

        if (!$('#cardBanner').hasClass('banner-resize')) {

            var first = $(".list-images .card").first();
            var img = document.getElementById("cardBanner");
            img.classList.add("banner-resize");

            $('#cardBanner').attr('src', $(first).attr("src"));
            $(first).addClass('selectedBanner');
        }
        var  canvas = new fabric.Canvas('canvas-image');
         


       
        $(".list-images img").click(function () {
           
       

       
   
            debugger;
            if (!$(this).parent().hasClass('selectedBanner')) {
               
              
                canvas.clear();
                var src = $('#cardBanner').attr('src');
                
                if (src != $(this).attr("src")) {
                    $('.list-images .card').removeClass('selectedBanner');
                    $(this).parent().addClass('selectedBanner');
                      fabric.Image.fromURL($(this).attr("src"), function (oImg) {
        oImg.scale(0.75).center().setCoords();
        var group = new fabric.Group([ oImg], {
            left: 50,
            top: 50,
        });
        canvas.add(group);
    });  
     }
                else
                    Swal.fire({
                        title: 'Ops!',
                        text: 'Item já foi selecionado.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
            }



            console.log($(this).attr("src"));

            var img = document.getElementById("cardBanner");
            img.classList.add("banner-resize");

            $('#cardBanner').attr('src', $(this).attr("src"));

        });
        $('#btnProx').click(function () {
            saveCanvas(canvas);
            return false;
        });

    });

    function saveCanvas(canvas) {
        debugger;
        
 
    // convert canvas to a json string
     
    var json = JSON.stringify( canvas.toJSON() );

        console.log(json); 
    // save via xhr
    //$.post('/save', { json : json }, function(resp){ 
    //    // do whatever ...
    //}, 'json');
}
</script>
<div class="container">
    <div class="row">
        <div class="col-4 pl-0">
            <h1 class="mt-2 primaryColor titlePage">   Catálogo de Materiais</h1>
        </div>
        <div class="col">
            <div class=" ">
                <form class="form-inline " style="
               margin-top: 10px;
               ">
                    <div class="input-group input-group-sm pb-1 pt-1 pl-1 pr-1" style="
                  border: none;
                  border-radius: 20px;
                  background: #fff;
                  /* height: 30px; */
                  /* padding: 4px; */
                  ">
                        <input class="form-control form-control-navbar searchInput" type="search" placeholder="Buscar" aria-label="Search" style="
                     width: 280px;
                     border: none;
                     border-radius: 20px;
                     ">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search" style="color:#0dbab1;"></i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pl-0">
            <span style="color:#808080; font-weight:bold;"> Customizador</span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="list-images">
                <div class="row mt-5">
                    <div class="col-12 pl-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="/Content/images/000018.png" height="125" style="">
                                </div>
                            </div>
                            <div class="col-6">

                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="/Content/images/Group 3932.png" height="125">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 pl-0">
                        <div class="row">
                            <div class="col-6">

                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="~/Content/images-naologado/activyl1.png" height="125">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="~/Content/images-naologado/activyl1.png" height="125">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 pl-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/Activyl-2.jpg" height="125">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/Activyl-2.jpg" height="125">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 pl-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/Activyl-2.jpg" height="125">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/Activyl-2.jpg" height="125">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 pl-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="card p-2" style="border-radius: 13px!important;">
                                    <img src="https://www.msd-saude-animal.com.br/wp-content/uploads/sites/55/2020/08/Activyl-2.jpg" height="125">
                                </div>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 mt-7">
            <div class="col pl-0">
                <div class="row">
                    <div class="col pr-0">
                        <div class="cardFull  p-2" style="border-radius: 13px!important;">
                            <img id="cardBanner" style="display:none" src="/Content/images/000018.png" height="125">
                              <canvas id="canvas-image"  width="900" height="425" >
        </canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row mt-1 pb-4">
        <div class="col-3 pl-0">
            <div class="row">
                <div class="col-12">

                    <div class="pt-2 ml-0" style="border-radius: 13px!important;">

                        <a id="btnProx">
                            <form class="form-inline " style="
               margin-top: 10px;
               ">
                                <div class="input-group input-group-sm pb-1 pt-1 pl-1 pr-1" style="
                  border: none;
                  width:100%;
                  border-radius: 10px;
                  background: #0dbab1;
                  text-align:center;
                  /* height: 30px; */
                  /* padding: 4px; */
                  ">
                                    <span style="
    /* text-align: center; */
    margin: auto;
    padding: 6px;
    color: #fff;
    font-size: 11pt;
    padding-top: 12px;
    padding-bottom: 12px;
"> PRÓXIMO</span>

                                    <div class="input-group-append">
                                       
                                            <i class="fas fa-arrow-right" style="color:#fff;margin-right: 10px;"></i>
                                     
                                    </div>
                                </div>

                            </form>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- SEARCH FORM -->
