﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-4 pl-0">
            <h1 class="mt-2 primaryColor titlePage">   Home</h1>
        </div>
        <div class="col">
            <div class=" ">
                <form class="form-inline " style="
               margin-top: 10px;
               ">
                    <div class="input-group input-group-sm pb-1 pt-1 pl-1 pr-1" style="
                  border: none;
                  border-radius: 20px;
                  background: #fff;
                  /* height: 30px; */
                  /* padding: 4px; */
                  ">
                        <input class="form-control form-control-navbar searchInput" type="search" placeholder="Buscar" aria-label="Search" style="
                     width: 280px;
                     border: none;
                     border-radius: 20px;
                     ">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search" style="color:#0dbab1;"></i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pl-0">
            <span style="color:#808080; font-weight:bold;"> </span>
        </div>
    </div>
    <div class="row">


    </div>
    <div class="row mt-1 pb-4">
        <div class="col-3 pl-0">
            <div class="row">
                <div class="col-12">


                </div>

            </div>
        </div>
    </div>
</div>
<!-- SEARCH FORM -->
