﻿@model MSDPortal.Application.Entidades.Produto

<!DOCTYPE html>

@using (Html.BeginForm("Create", "Produto"))
{
@Html.AntiForgeryToken()

                <div class="container">
                    <div class="row">
                        <div class="col-9" style="left: 7px;">
                            <h1 class="mt-2 primaryColor titlePage">
                                Adicionar Produto
                            </h1>
                        </div>

                        <div class="col-3">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/Produto">Produto</a></li>
                                <li class="breadcrumb-item active"> Adicionar Produto</li>
                            </ol>
                        </div>
                    </div>
                    <hr /><br />
                </div>

                                <div class="container card mb-3">
                                    <div class="form-horizontal pt-1">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Salvar" class="btn btn-default" />
                                                @Html.ActionLink("Voltar", "Index", "Produto", new { @class = "btn btn-default" })
                                            </div>
                                        </div>
                                        <br /> <br />
                                    </div>
                                </div>
}


