﻿@model MSDPortal.Application.Entidades.Produto


<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-9" style="left: 7px;">
                <h1 class="mt-2 primaryColor titlePage">
                    Tem certeza que deseja remover esse produto?
                </h1>
            </div>

            <div class="col-3">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Produto</a></li>
                    <li class="breadcrumb-item active">Remover Produto</li>
                </ol>
            </div>
        </div>
        <hr /><br />
    </div>

    @if (TempData["erro"] != null)
    {
<div class="col-md-12 col-sm-12">
    <div id="msg" class="alert alert-danger">@TempData["erro"]</div>
</div>}
    <br />

    <div class="container card mb-3">
        <div class="form-horizontal pt-1">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DataCriacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataCriacao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DataAtualizacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataAtualizacao)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Voltar", "Index", "Produto", new { @class = "btn btn-default" })
                        </div>
                    </div>}
            </div>
        </div>
    </div>
</div>